@import 'colors.scss';

.knob-box {
    position: relative;

    .knob {
        display: flex;
        justify-content: center;
        height: 80px;
        width: 80px;
        border-radius: 40px;
        background-color: $light-color;
        margin: 5px;
        border: 1px solid $dark-color;
    
        .indicator {
            margin-top: 2px;
            height: 8px;
            width: 8px;
            border-radius: 8px;
            background-color: $dark-color;
        }
    }    

    span {
        font-weight: bold;
        color: $dark-color;
        position: absolute;
        width: 100%;
        top: 18px;
        text-align: center;
        font-size: 14px;
    }
}
