@import 'colors.scss';

.oscillator {
    display: flex;
    background-color: $light-color;
    color: $dark-color;
    user-select: none;
    border-radius: 3px;

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        span {
            margin: 1px;
            padding: 0 5px;
            font-size: 14px;
            flex-grow: 1;
            background-color: $dark-color;
            color: $light-color;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
            border: 1px solid $dark-color;

            &.selected {
                background-color: $light-color;
                color: $dark-color;
            }
        }

        :first-child {
            border-radius: 0 3px 0 0;
        }

        :last-child {
            border-radius: 0 0 3px 0;
        }
    }
}
