@import 'colors.scss';

.oscillator {
    display: flex;
    flex-direction: column;
    background-color: $light-color;
    color: $dark-color;
    align-items: center;
    user-select: none;
    border-radius: 3p3
}
