.container {
    display: flex;
    margin: 10px;
    height: 300px;

    .keyboard {
        width: 1000px;
        border: 1px solid black;
    }

    .stop {
        width: 100px;
        border: 1px solid black;
    }
}
